// Section
section {
    position: relative;
    top: 1em;
}

// Article
article {
      max-width: 48em;
}

// Divider
hr { border-color: $brand-default; }
.divider, .divider-dotted {
    margin: $container-margin 0;
    width: 100%;
    height: $border-size;
    border-top: $border-size solid $gray-light;
}
.divider-dotted {
    border-top: $border-size dotted $gray-light;
}

// Background Colors
.bg-default { background-color: $brand-default; }
.bg-primary { background-color: $brand-primary; }
.bg-success { background-color: $brand-success; }
.bg-info { background-color: $brand-info; }
.bg-warning { background-color: $brand-warning; }
.bg-danger { background-color: $brand-danger; }