body {
  font-family: $Roboto;
  font-size: 16px;
  font-weight: $normal;
}

p { line-height: 1.85em; }

h1, h2, h3, h4, h5, h6 {
  margin-top: $font-size;
  margin-bottom: ($font-size / 2);
}

h1 {
  font-size: ($font-size * 2.5);
  font-weight: $ultra-bold;
  margin: ($font-size / 2) 0;
}
h2 {
	font-size: ($font-size * 2);
  font-weight: $medium;
}
h3 {
  font-size: ($font-size * 1.5);
  font-weight: $medium;
  font-style: italic;
}
h4 {
  font-size: ($font-size * 1.2);
  font-weight: $bold;
}
h5 {
  font-size: ($font-size / 1.2);
  font-weight: $bold;
}

// Quotes
blockquote {
  padding-left: $container-padding;
  line-height: 1.85em;
  font-size: ($font-size * 1.35);
  font-weight: $light;
  font-style: italic;
  border-left: ($border-size * 3) solid $brand-primary;
  background-color: $gray-lighter;
}

// Links
a {
  color: $brand-primary;
  text-decoration: none;
  transition: $animation-duration all ease;
  &:hover { color: mix($brand-primary, $mix-white, 55%); }
}

// Sizing
.small { font-size: ($font-size / 1.2); }

// Weights and Styles
.fwb { font-weight: $bold; }
.fwl { font-weight: $light; }
.fsi { font-style: italic; }

// Highlight Colors
.highlight { background-color: mix($brand-default, $mix-white, 25%); }
.highlight-primary { @include highlight-type($brand-primary); }
.highlight-success { @include highlight-type($brand-success); }
.highlight-info { @include highlight-type($brand-info); }
.highlight-warning { @include highlight-type($brand-warning); }
.highlight-danger { @include highlight-type($brand-danger); }

// Text Colors
.color-primary { color: $brand-primary; }
.color-success { color: $brand-success; }
.color-info { color: $brand-info; }
.color-warning { color: $brand-warning; }
.color-danger { color: $brand-danger; }

// Overflow
.overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Alignment
.text-center { text-align: center; }
.text-left  { text-align: left; }
.text-right { text-align: right; }