// Black & Whites
$mix-white: #fff;
$mix-black: #000;

$gray: #9E9E9E;
$gray-lighter:  mix($gray, $mix-white, 15%); // #f0f0f0
$gray-light:    mix($gray, $mix-white, 30%); // #e2e2e2
$gray-dark:     mix($gray, $mix-black, 30%); // #2f2f2f
$gray-darker:   mix($gray, $mix-black, 15%); // #181818

// Brand Colors
$brand-default:   #141414;
$brand-primary:   #5689ee;
$brand-success:   #30bb98;
$brand-info:      #6f3ccd;
$brand-warning:   #f2db77;
$brand-danger:    #e85b5b;

// Content colors
$content-bg:           #ffffff;
$content-bg-secondary: #f8f8f8;

$text-color:           #161616;
$text-color-secondary: #575757;
$text-color-inverted:    #fff;

// Typography
$font-size: 1em;

$Roboto: 'Roboto', sans-serif;

$thin:        100;
$light:       300;
$normal:      400;
$medium:      500;
$bold:        700;
$ultra-bold:  900;

// Defaults

$border-radius: .2em;
$border-size:   .1em;

$container-padding: .5em;
$container-margin: 1em;

// Icons
$icon-size: ($font-size + .25em);
$icon-top-margin: .05em;

// Button Defaults
$button-bg: $content-bg;

$button-height:         .5em;
$button-width:          1em;
$button-border-radius:  $border-radius;
$button-border-size:    $border-size;
$button-margin:         .15em;

// Table Defaults
$table-padding: 1em;
$table-margin:  1em;

// Form Defaults
$form-padding: $container-padding;

$input-bg:            $content-bg;
$input-padding:       $container-padding;
$input-margin:        $container-margin;
$input-label-margin:  (($input-margin + .75em) * -1);
$input-label-size:    ($font-size - .075em);
$input-border-size:   $border-size;
$input-border-radius: $border-radius;

// Animation
$animation-duration: 0.25s;

// Grid

